
html
    head
        title hello
        link(rel="stylesheet" href="style.css")
    body
        header(class="header",style="position:fixed; width:100%; background-color: transparent;")
            ul(class="mainmenu")
                li(class="menu")
                    a(href="login.html") login
                li(class="menu")
                    a(href="register.html") Register
            div(class="left")
                h2 Democracy 