doctype html
html
    head
        title index
        link(rel="stylesheet" href="style.css")
    body(class="login")
        header(class="header",style="position:fixed; width:100%; background-color: transparent;")
            ul(class="mainmenu")
                li(class="menu")
                    a(href="login.html") login
                li(class="menu")
                    a(href="register.html") Register
            div(class="left")
                h2 Democracy 
        br 
        br
        div(class="regi")
            h1 REGISTRATION
            form(action="register.html",method="post")
                div(class="tbox")
                    input(type="text" placeholder="Enter Name" name ="name" value="")
                div(class="tbox")
                    input(type="text" placeholder="Enter E-mail" name="email" value="")
                div(class="tbox")
                    input(type="passsword" placeholder="Enter Password" name="password" value="")
                div(class="tbox")
                    input(type="text" placeholder="Re-enter Password" name="password2" value="")    
                input(class="btn" type="submit"  name="" value="Submit")